<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
</head>
<body>
    <header>
        <!-- Header content can be placed here -->
    </header>
    
    <main>
        <%- body %> <!-- This is where the specific content of each page will be injected -->
    </main>

    <footer>
        <!-- Footer content can be placed here -->
    </footer>
</body>
</html>
